body{
  background-color: #f5f3f0;
}
header{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image:url("../images/background.jpg");
  background-image: cover;
  padding-bottom: 50px;
}
.topHeader{
    padding:10px 125px 30px 100px;
    display: flex;
    flex-direction: column;
    width:500px;
    float: left;
}
#header-logo{
  height:45px;
  width:640px;
}
.topBox {
  display: flex;
  display: table;
  float: right;
  width: 400px;
  height: 90px;
  border: 15px solid white;
  margin: 20px;
  box-shadow: 5px 5px #6e7e84;
  background-color: white;

}
.bottoomBox{
  display: flex;
  display: table;
  justify-content: center;
  float:right;
  width: 400px;
  height: 90px;
  border: 15px solid white;
  margin: 20px;
  box-shadow: 5px 5px #6e7e84;
  background-color: white;
}
#boxButton{
  background-color: #c56c76;
  padding:0.45em 1.6em 0.375em;
  border-radius: 10px;
}
h1{
  color:white;
}
h2 {
  color:#5c626a;
}
a{
color:#c56c76;
}
hr{
  color: white;
}
.speakersection{
  padding-top: 32%;
  padding-left: 2%;
  padding-right: 1%;
  box-sizing:border-box;
  max-width: 61em;
  width: 100%;
  margin: 0 auto;
}
.speakersection ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  flex-direction: row;
  list-style: none;
  width:285px;
  height:215px;

}
.speakersection img {
  border-radius: 50%;
  border-width: 1px;
  margin: 0em;
  width: 90px;
  height:90px;
}
.speakersection p {
  margin-top: 0.8em;
  margin-bottom: 0;
}
#footer-logo{
  width:200px;
  height: 60px;

}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #797166;
}
